{
  "logdog": {
    "default_actions": [
      "file"
    ],
    "default_watcher": "tail",
    "debug": false
  },
  "actions": {
    "file": {
      "path": "captured_events.log",
      "format": "${BRIEF_INFORMATION}\n${DETAILED_INFORMATION}\n\n"
    },
    "log2mail": {
      "from": "noreply@example.com <noreply@example.com>",
      "to": [
        "Important Receiver <admin@example.com>"
      ],
      "subject": "${BRIEF_INFORMATION}",
      "message": "${DETAILED_INFORMATION}",
      "config": "../log2mail.json"
    }
  },
  "watchers": {
    "tail": {
      "cwd": "../",
      "command": [
        "tail",
        "-F",
        "$FILE"
      ]
    }
  },
  "handlers": {
    "auth": {
      "file": "/var/log/auth.log",
      "watcher": "tail",
      "events": {
        "login": {
          "active": true,
          "next_lines": 2,
          "prev_lines": 0,
          "regexp": "sshd\\[[0-9]*\\]\\: Accepted publickey",
          "brief_information": "SSH: successfull login",
          "detailed_information": "$STDOUT",
          "actions": [
            "file"
          ]
        },
        "su_success": {
          "active": true,
          "next_lines": 1,
          "prev_lines": 0,
          "regexp": "su: \\(to [a-zA-Z_-]*\\)",
          "brief_information": "su: success",
          "detailed_information": "$STDOUT",
          "actions": [
            "file"
          ]
        },
        "su_failure": {
          "active": true,
          "next_lines": 0,
          "prev_lines": 1,
          "regexp": "su: FAILED SU",
          "brief_information": "su: failure",
          "detailed_information": "$STDOUT",
          "actions": [
            "file"
          ]
        }
      }
    }
  }
}
